Seeking to decode a point

I'm seeking to decode a point as described in [RFC-8032 Section 5.1.3](https://tools.ietf.org/html/rfc8032#section-5.1.3).

I believe I've discovered that the point is available as a serialization `verify_key.to_bytes`, however in rummaging through the gem, I cannot readily find an interface that performs the Section 5.1.3 decoding.

Is this decoding operation already supported? If so, are there usage guidelines?

_(newbie in working with ed25519)_


Note that this crate provides an implementation of the Ed25519 signature algorithm (i.e. EdDSA), and is not a general purpose "edwards25519" elliptic curve library (see [RFC 7748 Section 4.1](https://tools.ietf.org/html/rfc7748#section-4.1).

Calling `verify_key.to_bytes` will give you a compressed point identified by an Edwards-y coordinate, however this library provides no general purpose point decompression functionality or curve arithmetic support. It's just a digital signature library.

OK thanks. I have a couple of Python reference implementations that I can port from, but before wading into that, I'm curious if you are aware of any existing Ruby implementations or libraries? I have already hunted across [the landscape](https://ianix.com/pub/ed25519-deployment.html) for examples, but no luck.

Your best bet is probably to find a mature C library that exposes "edwards25519" curve arithmetic and make a C extension.

I don't know a particularly good one to recommend, but this one looks reasonable enough:

https://github.com/msotoodeh/curve25519